{% extends "base.html" %}

{% block main %}
 <div class=outer>
    <div class="middle">
      <div class="inner">
    <h1>Profiles</h1>
    {% for user in users %}
        <div>
            <div class="card mb-3 Colborder" style="max-width: 580px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ url_for('static', filename="uploads/"+user.photo) }}" class="card-img editImg" alt="...">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p class="card-text description"> {{user.first_name}} {{user.last_name}} </p>
                    <p class="card-text description"><i class="far fa-user"></i> {{user.gender}} </p>
                    <p class="card-text description"><i class="fas fa-map-marker-alt"></i> {{user.location}} </p>
                </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <button type="button" name="view" onclick="window.location.href='{{ url_for( 'profileId' , userid=user.id ) }}';">View Profile</button>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
   </div>
  </div>

{% endblock %}